.outer-div{
    /* margin: 20px 40%; */
    background-color: rgb(184, 176, 176);
    width: 100vw;
    height: 100vh;
    position: relative;
}
.inner-div{
   
    position: relative;
    left: 40%;
    top:10%;
    /* border: 1px solid white; */
    
    
}